.container {
  display: flex;
  min-height: 100rem;
}

.scroller {
  overflow-y: scroll;
}

.globe-container {
  max-width: 44px;
}

.centerButtonText {
  float: column;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-top: 24px;
}

.popupStyle {
  /* background: transparent; */
  color: brown;
  width: 350px;
  background-color: transparent;
}

/*customized scrollbar */
* {
  -ms-overflow-style: auto;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.295);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.349);
}

/* Logo */
#logo {
  position: absolute;
  top: -24px;
  left: 0px;
}

/* Year Ticker */
#year {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  color: rgba(243, 163, 17, 1);
}

/* Google Fonts Start */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
}

/* Google Fonts End */
