.container {
  display: flex;
  min-height: 100rem;
}

.scroller {
  overflow-y: scroll;
}

.globe-container {
  max-width: 44px;
}

.centerButtonText{
  float:left;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin: 8px;
}

/*customized scrollbar */
*{
    -ms-overflow-style: auto;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.295);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.349);
}